h1 {
    text-align: center;
    padding-top: 10px;
    color:darkslategrey;
    font-weight: bolder;
}

th, td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  h2 {
    text-align: center;
    color:slategray;
    font-weight: bold;
}

.compareimg {
    font-size: small;
    font-style: italic;
    color: slategray;
}